.git
.idea
.DS_Store
.gitignore
CHANGELOG.md
README.md
LICENSE.md
env.*
logs/

# Docker files
.dockerignore
Dockerfile*
docker-compose.yml

# To prevent storing dev/temporary container data
*.csv
/tmp/*

